@using PrefinalMobSys1.Data
@inject AppShellContext AppShell
<button class="btn text-warning">
    <i class="fa fa-search"></i>
</button>
@code {
    protected override void OnInitialized()
    {
        AppShell.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppShell.OnChange -= StateHasChanged;
    }
}